.inputSettings {
	height: 2rem;
	border: 1px solid var(--input-border-placeholder-color);
	border-radius: var(--input-border-radis);
	padding: 0.625rem 0 0.625rem 0.625rem;
}

.inputSettings::placeholder {
	font-family: var(--PoppinsMedium-font);
	font-size: var(--placeholder-fontSize);
	color: var(--placeholder-color);
}

.inputCheckbox {
	border: 1px solid var(--input-border-mainColor);
	border-radius: 0.125rem;
	width: 0.5625rem;
	height: 0.5625rem;
}
